.gradient-background {
	background: linear-gradient(600deg, #49bec4, #ca0000);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title-img {
	border: 2px solid #fff;
	border-radius: 50%;
}

.btn-light {
	color: #fff;
	background-color: #49bec4;
	border: #49bec4;
}

#title h1 {
	color: white;
}

.resume-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.resume-flex a {
	margin-bottom: 15px;
}

#portfolio-text p {
	color: #fff;
	-webkit-text-stroke: 1px black;
	font-size: x-large;
}

#projects a {
	text-decoration: none;
}

.card > img {
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.portfolio-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	padding: 0;
	min-height: fit-content;
}

.work-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.work-header * {
	padding: 0;
	margin: 0;
}

.cert-items {
	display: flex;
	justify-content: start;
	align-items: center;
}

.cert-items * {
	padding-right: 20px;
}

.social-icon {
	width: 50px;
	height: 50px;
	border: .5px solid white;
	border-radius: 50%;
}

#portfolio > .container {
	border: 2px solid black;
	border-radius: 10px;
}

#simon {
	text-align: center;
	background-color: #011F3F;
	height: 80vh;
}

#simon h1 {
	margin-top: 0;
	padding-top: 60px;
}

body {
	height: 100vh;
}